@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v128/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

body {
  margin: 0;
  padding: 0
}

.mdso {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px
}

/* Track */
::-webkit-scrollbar-track {
  background: #0ea4e917
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0ea4e928;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, .2);
}